form {
  display: inline-block;
  margin-top: 1em;
  text-align: center;
  margin-right: 5%;
  margin-bottom: 15px;
}

input[type=submit] {
  background-color: grey;
  width: 90%;
  height: 10%;
  border-radius: 10px;
  display: inline-block;
  margin-top: 2em;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  border: solid #C3073F 0.5px;
}

form input{
  display: inline-block;
    font-size: 3vw;
    background-color: grey;
    border: solid #C3073F 2.5px;
    border-radius: 10px;
    padding-left: 5%;
    width:100%;
}

#col-left2 {
  width: 30%;
  float: none;
  justify-content: center;
  text-align: center;
  /* padding-left: 8%; */
  color: white;
  border-right: 3px solid #6f2232;
}
